@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Pacifico', cursive;
}

.App {
  text-align: center;
  /* background-color: #1c1c1c; */
  color: white;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center the content vertically */
}

.header {
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Add text shadow for readability */
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  padding: 10px;
  border-radius: 10px;
  backdrop-filter: blur(5px); /* Add blur effect */

}

.header h5 {
  display: inline-block; /* Make h5 elements inline */
  margin-right: 15px; /* Add some space between them */
  margin-left: 15px;
  font-size: 1.0em;
}

.card {
  background-color: rgba(0, 0, 0, 0.6); /* Neutral semi-transparent background */
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  width: 500px; /* Increase the width */
  min-height: 250px; /* Set a fixed height */
  text-align: center;
  margin: 20px 0;
  transition: transform 0.2s;
  backdrop-filter: blur(5px); /* Add blur effect */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Space out the content */
}

.card:hover {
  transform: scale(1.05);
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.card-content .viewpoint {
  padding-top: 20px;
  margin-bottom: auto; /* Push to the top */
  font-size: 1.5em; /* Increase font size */
  font-weight: 600; /* Make text bold */
}

.card-content .description {
  margin-top: 30px; /* Push to the bottom */
  font-size: 1.1em; /* Increase font size */
  padding-bottom: 20px;

}

button {
  background-color: #1c1c1c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px;
}

button:hover {
  background-color: #333;
}

/* Feedback styles */
/* .feedback {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: 600;
} */

/* Input styles */
/* .input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
} */

input[type="text"] {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  margin-bottom: 10px;
  transition: border-color 0.3s;
}

input[type="text"].correct {
  border-color: green;
}

input[type="text"].incorrect {
  border-color: red;
}

button.correct {
  background-color: green;
}

button.incorrect {
  background-color: red;
}


