@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Pacifico', cursive;
}

.App {
  text-align: center;
  /* background-color: #1c1c1c; */
  color: white;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center the content vertically */
}

.header {
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Add text shadow for readability */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  padding: 10px;
  border-radius: 10px;

}

.card {
  background-color: rgba(0, 0, 0, 0.6); /* Neutral semi-transparent background */
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  width: 500px; /* Increase the width */
  height: 400px; /* Set a fixed height */
  text-align: center;
  margin: 20px 0;
  transition: transform 0.2s;
  backdrop-filter: blur(10px); /* Add blur effect */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Space out the content */
}

.card:hover {
  transform: scale(1.05);
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.card-content .viewpoint {
  padding-top: 20px;
  margin-bottom: auto; /* Push to the top */
  font-size: 1.5em; /* Increase font size */
  font-weight: 600; /* Make text bold */
}

.card-content .description {
  margin-top: auto; /* Push to the bottom */
  font-size: 1.2em; /* Increase font size */
  padding-bottom: 20px;

}

button {
  background-color: #1c1c1c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #333;
}



